{% extends "base.html" %}

{% block title %}Meteo Tracker{% endblock %}

{% block content %}
<div class="min-vh-100 d-flex justify-content-center align-items-center fullscreen-center" >
    <div class="card p-5 shadow-lg card-main">
        <h1 class="text-center mb-4">Meteo Tracker</h1>
        <p class="text-center fs-5">Recherche ta météo facilement.</p>

        <form method="POST" class="mt-4">
            <input type="text" class="form-control mb-3 input" placeholder="Entrer une ville">
            <button type="submit" class="btn btn-primary w-100">Rechercher</button>
        </form>
    </div>
</div>
{% endblock %}
